@import "bootstrap/variables";
@import "mixins";

body > * {
  font-family: @font-family-base;
}

body {
  padding-top: @navbar-height;
}

.navbar.navbar-inverse {
  border-bottom: 1px solid @brand-primary;
  background: #000;

  .navbar-nav > li > a, .navbar-text {
    border-right: 1px solid @brand-primary;
    border-left: none!important;
    &:first-child {
      border-left: 1px solid @brand-primary!important;
    }
  }

  .dropdown-menu {
    background: #000;
    padding: 0;
    right: -1px;

    > li > a {
      border: 1px solid @brand-primary;
    }
  }

  .navbar-nav > li > a, .navbar-text,
  .dropdown-menu > li > a {
    font-size: @font-size-large;
    color: @brand-primary;
    &:hover, &:focus, &:active {
      color: lighten(@brand-primary, 10%);
      background: darken(@brand-primary, 25%)
    }
  }

  .navbar-nav > li.active > a, .navbar-text,
  .dropdown-menu > li.active > a {
    color: lighten(@brand-primary, 10%);
    background: darken(@brand-primary, 25%)
  }

}

.h1, .h2, .h3, .h4, .h5, .h6,
h1, h2, h3, h4, h5, h6 {
  border-color: @brand-primary;
  text-transform: uppercase;
}
.h1, .h2, .h3,
h1, h2, h3 {
  margin-bottom: 33px;
}
.h4, .h5, .h6,
h4, h5, h6 {
  margin-bottom: 15px;
}

.custom-button(@main-color) {
  background: darken(@main-color, 30%);
  border-color: @main-color;
  color: @main-color;
  &:hover, &:focus, &:active {
    background: darken(@main-color, 30%);
    color: lighten(@main-color, 10%);
    border-color: lighten(@main-color, 10%);
  }
}

.btn-default {
  background: #000;
  border-color: @text-color;
  color: @text-color;
  &:hover, &:focus, &:active {
    background: darken(@brand-primary, 30%);
    border-color: @text-color;
    color: lighten(@text-color, 10%);
  }
}

.border-light {
  padding: @padding-large-vertical @padding-large-horizontal;
  //margin: @padding-large-vertical;
  border: 1px solid @brand-primary;
}

.btn-success {
  .custom-button(@brand-success)
}

.btn-primary {
  .custom-button(@brand-primary)
}

.btn-info {
  .custom-button(@brand-info)
}

.btn-warning {
  .custom-button(@brand-warning)
}

.btn-danger {
  .custom-button(@brand-danger)
}

.checkbox input[type=checkbox] {
  -webkit-appearance: initial;
  appearance: initial;
  background: #000;
  padding: 7px;
  border-radius: @border-radius-small;
  border: 1px solid @brand-primary;
  display: inline-block;
  cursor: pointer;

  &:checked {
    //background-color: @gray-dark;
  }
  &:checked:before {
    position: absolute;
    //color: @gray-lighter;
    color: @brand-primary;
    font-family: "FontAwesome";
    content: '\f00c';
    font-size: 12px;
    top: 1px;
    left: 1px;
  }
  &:focus {
    outline: 0;
  }

}

form.animated-label .checkbox-group .form-group {
  margin-bottom: 0;
  .checkbox {
    margin-top: 0;
  }
}

.checkbox-group {
  margin-bottom: 30px;
}

textarea {
  .scrollbar-vertical(8px, 0px, 0px, @brand-primary, @brand-primary, #000)
}

.help-block {
  .help-block-error {
    color: @alert-danger-text;
  }
}

@supports (-ms-ime-align: auto) {
  .checkbox input[type=checkbox] {
    padding: 0;
  }
}

#flash-messages {
  position: fixed;
  z-index: 3000;
  width: auto;
  background: none;
  max-width: 400px;
  left: 0;
  .transition(top ease 0.5s);
  //top: @navbar-height;
  padding: @padding-small-vertical @padding-small-horizontal;

  .alert {
    display: none;
    margin-bottom: @padding-small-horizontal;
    background: fade(#000, 95%);
    color: @text-color;

    @darken-alert-border: 20%;

    &.alert-success {
      .btn-success;
    }

    &.alert-info {
      .btn-info;
    }

    &.alert-warning {
      .btn-warning;
    }

    &.alert-danger {
      .btn-danger;
    }

    button {
      position: relative;
      top: -3px;
      margin-left: 15px;
      color: lighten(@text-color, 20%);
    }
  }
}

.table-bordered,
.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border-color: @brand-primary;
}

div.table {
  display: table;
  .table-row {
    display: table-row;
    > div {
      display: table-cell;
    }
  }
}

table tr.animated-label {
  th {
    padding: 0;

    .form-group {
      margin-bottom: 0;
      input[type='text'],
      .select2-selection,
      select,
      textarea {
        margin-top: 0;
        border: none;
      }
    }
  }

}

.select2-container.select2-container--krajee .select2-selection__clear {
  top: 4px;
}

ul.pagination {

  display: block;
  width: 100%;
  text-align: center;

  > li {
    display: inline-block;
  }

  > li.active > a,
  > li.disabled > a,
  > li > a {
    background: transparent;
    border-color: @brand-primary;
  }
  > li > a {
    color: @brand-primary;
  }
  > li > a:active,
  > li > a:focus,
  > li > a:hover {
    color: lighten(@brand-primary, 15%)!important;
    background: darken(@brand-primary, 25%)!important;
    border-color: @brand-primary!important;
  }
  > li.disabled > a {
    color: darken(@brand-primary, 10%);
  }
  > li.active > a {
    color: lighten(@brand-primary, 15%);
    background: darken(@brand-primary, 25%);
  }
}

.jumbotron {
  background: none;
}

.text-large {
  font-size: @font-size-large;
}

table {

  // all

  .animated-label .actions {
    padding: 8px
  }
  .actions {
    white-space: nowrap;
    width: 1%;
  }

  // staff

  &.staff-table {
    .rpn {
      width: 70px;
      white-space: nowrap;
    }
    .base_category {
      min-width: 150px
    }
    .special_function {
      min-width: 170px
    }
    .team {
      min-width: 160px
    }
    .call_sign {
      min-width: 50px;
    }
  }

  // mission

  &.mission-table {
    .mission-status {
      min-width: 90px
    }
    .mission-type {
      min-width: 90px
    }
    .zone {
      min-width: 75px
    }
    th.debrief-comment {
      white-space: nowrap;
    }
    .description, .debrief-comment {
      max-width: 250px;
    }
    .rp, .fp {
      width: 35px;
      text-align: center;
    }
    td.started {
      white-space: nowrap;
    }
    td.ended {
      white-space: nowrap;
    }
    .call-sign {
      min-width: 50px;
    }
  }

  // team

  &.team-table {
    th.members, th.unpaid, th.paid {
      padding: 9px;
    }
    .members, .unpaid, .paid {
      text-align: right;
    }
  }

}

.model-details {

  .detail-label {
    font-weight: bold;
    text-transform: uppercase;
    text-align: right;
  }
}